RewriteEngine On
RewriteBase /Tugas_CRUD_PWEBPR_C_3002/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Tugas_CRUD_PWEBPR_C_3002/index.php [L]